<?xml version="1.0" encoding="UTF-8"?>
<Configuration shutdownHook="disable">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] |%-5p| %c{2}:%L - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.dormitory.autobotsoccub" level="debug" />
        <Logger name="org.telegram" level="info" />
        <Root level="info">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>